---
---
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen">

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <title>Radialrogue188.GitHub.io by radialrogue188</title>
  </head>
  <body>
    <header>
      <div class="container">
        <h1>Radialrogue188.GitHub.io</h1>
        <h2></h2>
      </div>
    </header>

    <div class="container">
      <section id="main_content">

<b>once</b> upon a <font color="red">time</font> lived a chikhen named alfie.


<font color=blue> he was 2 and had no food to eat</font>,all he ate was garbage food yuck!

{% include guessmynumber.html %}

{% include crystalball.html %}

{% include lovetest.html %}

{% include whoseturn.html %}

 {% include scaryhardrive.html %} 
 
 {% include pong.html %} 

 {% include noughtscrosses.html %} 
   
   {% include snake.html %}
   
 </section>
    </div>

my grampy is a old chicken that has a walking-stick!
  </body>
</html>
